﻿@using DOT.Resources
@model ICollection<DOT.ViewModels.ScheduleViewModel>
@{
    ViewBag.Title = Global.Schedule;
}

<h2>@ViewBag.Title</h2>

@foreach (var m in Model)
{
    using (Html.BeginPanelItem($"{m.Date:dddd - dd.MM.yyyy}"))
    {
        <ul class="list-group">
            @foreach (var g in m.Schedules)
            {
                var color = g.IsLecture ? "exam" : "pass";
                <li class="list-group-item">
                    <div class="row col-md-12">
                        <span class="@($"grade-{color}-text")">
                            <strong>@($"{g.StartDate:HH:mm} - {g.EndDate:HH:mm}")</strong>
                            @($" : {g.ClassesName} [{g.ClassesCode}]")
                        </span>
                        <span class="col-md-2 badge">@($"{g.Building} - {g.Room}")</span>

                        <span class="@($"badge grade-{color}")">@g.ClassesType</span>
                    </div>
                </li>
            }
        </ul>
    }
}