﻿@using DOT.Domain.Utils
@using DOT.Resources
@using DOT.Security
@using DOT.Utils
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PJATK Viewer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type='text/javascript'>
        var appInsights = window.appInsights || function (config) {
            // ReSharper disable once JoinDeclarationAndInitializerJs
            var t;
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }

            t = { config: config };
            var u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;)r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== true && t['_' + i](config, r, u, e, o), s }), t;
        }({
            instrumentationKey: '95dc91e9-5f4b-4c09-ad3d-001d77e2617d'
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PJATK", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (HttpContext.Current.GetOwinContext().Authentication.User.IsConnectedToPjatk())
                    {
                        <li>@Html.ActionLink(Global.Grades, "Index", "Grades")</li>
                        <li>@Html.ActionLink(Global.Schedule, "Index", "Schedule")</li>
                        <li>@Html.ActionLink(Global.Payments, "Index", "Payments")</li>
                    }
                    <li>
                        @(Localizations.IsUserLanguageEnglish(Request) 
                            ? Html.ActionLink("Polski", "Polish", "Language", null, new {@class = "language-switcher polish", id = "languageSwitcher"}) 
                            : Html.ActionLink("English", "English", "Language", null, new {@class = "language-switcher english", id = "languageSwitcher"}))
                    </li>
                    @if (HttpContext.Current.GetOwinContext().Authentication.User.HasPermission(Permission.AdminSectionDisplay.GetDescription()))
                    {
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Admin<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink(Global.Users, "Users", "Admin")</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dawid Richert</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <!-- JS Resources - this partial contains a JS module that contains resources
    and it has to be included before the rest because values form it are used in other scripts -->
    @Html.Partial("~/Views/JSResources/Index.cshtml")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
