﻿@using DOT.Resources
@model DOT.ViewModels.PaymentsViewModel
@{
    ViewBag.Title = Global.Payments;
}

<h2>@Global.Payments</h2>

@Html.ViewFormLineDisplay(model => model.StudentInfo.IncomeAccountNumber)
@Html.ViewFormLineCurrencyDisplay(model => model.StudentInfo.AmountOfReceivables)
@Html.ViewFormLineCurrencyDisplay(model => model.StudentInfo.AmountOfPayments)
@Html.ViewFormLineCurrencyDisplay(model => model.StudentInfo.PayoutAmount)
@Html.ViewFormLineCurrencyDisplay(model => model.StudentInfo.Balance)
<br />
@using (Html.BeginPanelItem(Global.PaymentsMade))
{ 
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Global.DateOfPayment</th>
                <th class="text-right">@Global.Amount</th>
                <th>@Global.PaymentTitle</th>
                <th>@Global.Payer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var payment in Model.Payments)
            {
                <tr>
                    <th>@($"{payment.Date:dd.MM.yyyy}")</th>
                    <td class="text-right">@($"{payment.Amount:.00} zł")</td>
                    <td>@payment.Title</td>
                    <td>@payment.Payer</td>
                </tr>
            }
        </tbody>
    </table>
}
@using (Html.BeginPanelItem(Global.Receivables))
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Global.DueDateOfPayment</th>
                <th class="text-right">@Global.Amount</th>
                <th class="text-center">@Global.NumberOfInstallments</th>
                <th>@Global.Name</th>
                <th class="text-center">@Global.InstallmentNumber</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fee in Model.Fees)
                {
                <tr>
                    <th>@($"{fee.DateOfPayment:dd.MM.yyyy}")</th>
                    <td class="text-right">@($"{fee.Amount:.00} zł")</td>
                    <td class="text-center">@fee.NumberOfInstallments</td>
                    <td>@fee.Name</td>
                    <td class="text-center">@fee.InstallmentNumber</td>
                </tr>
            }
        </tbody>
    </table>
}