﻿@using DOT.Resources
@model ICollection<DOT.ViewModels.GradesViewModel>
@{
    ViewBag.Title = Global.Grades;
}

<h2>@ViewBag.Title</h2>
@foreach (var m in Model)
{
    using (Html.BeginPanelItem(m.Name))
    {
        <ul class="list-group">
            @foreach (var g in m.Grades)
            {
                var color = "";
                if (g.Value == 5 || g.Value == (decimal)4.5)
                {
                    color = "success";
                }
                else if (g.Value == 4 || g.Value == (decimal)3.5)
                {
                    color = "info";
                }
                else if (g.Value == 3 || g.Value == (decimal)2.5)
                {
                    color = "warning";
                }
                else if (g.Value == 2)
                {
                    color = "danger";
                }

                <a role="button" data-toggle="collapse" href="#@g.Id" aria-expanded="false" aria-controls="@g.Id">
                    <li class="list-group-item">
                        <div class="row col-md-12">
                            <span class="label @($"label-{color}")">@g.Value</span>
                            <span class="@($"text-{color}")">@($"{g.ClassesName} [{g.ClassesCode}]")</span>
                            <span class="badge">@($"{g.Date:dd.MM.yyyy}")</span>

                            @if (g.IsExam)
                            {
                                <span class="badge grade-exam">@g.ClassesType</span>
                            }
                            else
                            {
                                <span class="badge grade-pass">@g.ClassesType</span>
                            }
                        </div>
                    </li>
                </a>
                    <div class="collapse" id="@g.Id">
                        <div class="well @($"text-{color}")">
                            <strong>@Global.Instructor: </strong><span>@g.Leader</span>
                            <br />
                            <strong>@Global.NumberOfHours: </strong><span>@g.NumberOfHours</span>
                        </div>
                    </div>
            }
        </ul>
    }
}