﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.modal-body p {
    margin: 0;
}

.modal-footer {
    margin-top: 0;
}

.form-group .input-group {
    padding-left: 15px;
    padding-right: 15px;
}

.language-switcher {
    height: 24px !important;
    width: 24px !important;
    margin: 0;
    padding-left: 30px !important;
    padding-right: 50px !important;
    padding-top: 3px !important;
    margin-top: 12px;
    margin-left: 20px;
}

.language-switcher.polish{
    background: url("Images/poland.png") no-repeat;
}

.language-switcher.english {
    background: url("Images/united-kingdom.png") no-repeat;
}

.list-group {
    margin-bottom: 0;
}

.list-group-item {
    display: -webkit-box;
    border-color: white;
    background: #f5f5f5;
}

.list-group-item .label {
    font-size: 14px;
    margin-right: 10px;
}

.list-group .badge {
    float: right !important;
    background: white;
    color: #337ab7;
    margin-left: 10px
}

.badge-info, .badge-danger, .badge-success, .badge-warning, .badge-primary {
    color: white !important;
}

.badge-info {
    background-color: #5bc0de !important;
}

.badge-danger {
    background-color: #d9534f !important;
}

.badge-success {
    background-color: #5cb85c !important;
}

.badge-warning {
    background-color: #f0ad4e !important;
}

.badge-primary {
    background-color: #337ab7 !important;
}

.grade-pass {
    background: #4988a7 !important;
    color: white !important;
}

.grade-exam {
    background: #c15797 !important;
    color: white !important;
}

.grade-pass-text {
    color: #4988a7 !important;
}

.grade-exam-text {
    color: #c15797 !important;
}