﻿@using DOT.Resources
@using DOT.Utils
@model ICollection<DOT.Domain.Models.User>
@{
    ViewBag.Title = Global.Users;
}
@section Scripts
{
    @Scripts.Render("/Scripts/app/Admin/admin.js")
    @Scripts.Render("/Scripts/app/Admin/users.js")
}

<h2>@ViewBag.Title</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th> 
        <th>E-mail</th> 
        <th>@Global.IsConnectedToPJATK</th>
        <th></th> 
    </tr>
    </thead> 
    <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            var user = Model.ElementAt(i);
            <tr>
                <th scope="row">@(i+1)</th>
                <td>@user.Email</td>
                <td>@(user.IsConnected ? Global.Yes : Global.No)</td>
                <td>
                    @if (CurrentUserManager.CurrentUserId != user.Id)
                    {
                        using (Html.BeginForm("RemoveUser", "Admin", new { id = user.Id }, FormMethod.Post, new { @class = "form-horizontal removeUserForm", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <input type="submit" class="btn btn-sm btn-danger" value="@Global.Remove" />
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>