﻿@using DOT.Resources
@using DOT.Security
@{
    ViewBag.Title = Global.HomePage;
}
@section Scripts
{
    @Scripts.Render("/Scripts/app/Dashboard/dashboard.js")
    @Scripts.Render("/Scripts/app/Dashboard/view.js")
}

@if (HttpContext.Current.GetOwinContext().Authentication.User.IsConnectedToPjatk())
{
    <div class="row jumbotron">
        @if (ViewBag.ImageBase64 != null)
        {
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                <div class="thumbnail">
                    <img src="data:image/png;base64,@ViewBag.ImageBase64" alt="avatar">
                </div>
            </div>
        }
        <div class="col-xs-11 col-sm-9 col-md-9">
            <p>@($"{ViewBag.StudentInfo.FullName} - {ViewBag.StudentInfo.Login}")</p>
            <h1>@Global.ConnectedToPjatk</h1>
            <p>@Global.ConnectedToPjatkMessage</p>
            <p>
                @using (Html.BeginForm("Disconnect", "Connect", null, FormMethod.Post, new { id = "DisconnectForm", @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" class="btn btn-sm btn-danger" value="@Global.Disconnect" />
                }
            </p>
        </div>
    </div>
}
else
{
    <div class="jumbotron">
        <h1>@Global.ConnectToPjatk</h1>
        <p>@Global.ConnectToPjatkMessage</p>
        <p>
            @Html.ActionLink(Global.Connect, "Index", "Connect", null, new { @class = "btn btn-primary btn-lg" })
        </p>
    </div>
}