﻿@using DOT.Resources
@{
    ViewBag.Title = Global.HomePage;
}
@section Scripts
{
    @Scripts.Render("/Scripts/app/MyProfile/myProfile.js")
    @Scripts.Render("/Scripts/app/MyProfile/index.js")
}

<div class="jumbotron">
    <h1>PJATK Viewer</h1>
    <p class="lead">@Global.AppInfo</p>
    <p>Dawid Richert - s12792</p>
</div>